<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>hello world</h1>
        <table>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
            </tr>
            <tr th:each="stu:${allStu}"><!--循环userList,以person作为形参-->
                <td th:text="${stu.getStuId()}"></td>
                <td th:text="${stu.getStuName()}"></td>
                <td th:text="${stu.getStuAge()}"></td>
                <td th:text="${stu.getStuSex()}!=1?(${stu.getStuSex()}!=0?'女':'未知'):'男'"></td>
            </tr>
        </table>
    </body>
</html>